@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.transition-animate {
  transition-property: all;
  transition-timing-function: ease-linear;
  transition-duration: 200ms;
}

.transition-animate:hover {
  transition-property: all;
  transition-timing-function: ease-linear;
  transition-duration: 200ms;
}
